body {
  background-color: hsla(240, 100%, 2%, 0.788);
  margin: 0px;
  text-align: center;
}

.header {
  background-color: #00ffff;
  text-align: center;
}

.title-row {
  margin-top: 42px;
  margin-bottom: 21px;
  text-align: center;
}

.instructions-row {
  margin: 0;
  width: 1200px;
  text-align: left;
  padding-left: 500px;
}

.instructions-title {
  display: inline;
  font-size: 34px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
}

.instructions-number {
  padding-right: 24px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: #00ffff;
  /*text-align: center;*/
}

.instructions-text {
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: #ffffff;
}

.door-row {
  text-align: center;
}

.door-frame {
  cursor: pointer;
  padding: 20px;
}

.start-row {
  margin: auto;
  width: 700px;
  height: 60px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eb6536;
  padding-top: 18px;
  font-size: 34px;
  text-align: center;
  color: #010165;
  margin-bottom: 21px;
  cursor: pointer;
}